<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<dict>
		<key>diningHallMeals</key>
		<dict>
			<key>mHotBreakfast</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>32400</integer>
					<integer>26100</integer>
					<integer>26100</integer>
					<integer>26100</integer>
					<integer>26100</integer>
					<integer>26100</integer>
					<integer>32400</integer>
					<string></string>
				</array>
				<key>Close</key>
				<array>
					<integer>39600</integer>
					<integer>32400</integer>
					<integer>32400</integer>
					<integer>32400</integer>
					<integer>32400</integer>
					<integer>32400</integer>
					<integer>39600</integer>
					<string></string>
				</array>
			</dict>
			<key>mColdBreakfast</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>0</integer>
					<integer>32400</integer>
					<integer>32400</integer>
					<integer>32400</integer>
					<integer>32400</integer>
					<integer>32400</integer>
					<integer>0</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>0</integer>
					<integer>37800</integer>
					<integer>37800</integer>
					<integer>37800</integer>
					<integer>37800</integer>
					<integer>37800</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>expressLunch</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>0</integer>
					<integer>37800</integer>
					<integer>37800</integer>
					<integer>37800</integer>
					<integer>37800</integer>
					<integer>37800</integer>
					<integer>0</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>0</integer>
					<integer>52200</integer>
					<integer>52200</integer>
					<integer>52200</integer>
					<integer>52200</integer>
					<integer>52200</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>mBrunch</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>39600</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>39600</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>45000</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>45000</integer>
				</array>
			</dict>
			<key>mLunch</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>0</integer>
					<integer>39600</integer>
					<integer>39600</integer>
					<integer>39600</integer>
					<integer>39600</integer>
					<integer>39600</integer>
					<integer>0</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>0</integer>
					<integer>50400</integer>
					<integer>50400</integer>
					<integer>50400</integer>
					<integer>50400</integer>
					<integer>50400</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>expressDinner</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>0</integer>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>0</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>0</integer>
					<integer>72000</integer>
					<integer>72000</integer>
					<integer>72000</integer>
					<integer>72000</integer>
					<integer>72000</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>mDinner</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>61200</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>68400</integer>
					<integer>68400</integer>
					<integer>68400</integer>
					<integer>68400</integer>
					<integer>68400</integer>
					<integer>68400</integer>
					<integer>68400</integer>
				</array>
			</dict>
			<key>tHotBreakfast</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>0</integer>
					<integer>27000</integer>
					<integer>27000</integer>
					<integer>27000</integer>
					<integer>27000</integer>
					<integer>27000</integer>
					<integer>0</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>0</integer>
					<integer>34200</integer>
					<integer>34200</integer>
					<integer>34200</integer>
					<integer>34200</integer>
					<integer>34200</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>tBrunch</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>39600</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>39600</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>48600</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>48600</integer>
				</array>
			</dict>
			<key>tHotLunch</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>0</integer>
					<integer>41400</integer>
					<integer>41400</integer>
					<integer>41400</integer>
					<integer>41400</integer>
					<integer>41400</integer>
					<integer>0</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>0</integer>
					<integer>47700</integer>
					<integer>47700</integer>
					<integer>47700</integer>
					<integer>47700</integer>
					<integer>47700</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>tColdLunch</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>0</integer>
					<integer>39600</integer>
					<integer>39600</integer>
					<integer>39600</integer>
					<integer>39600</integer>
					<integer>39600</integer>
					<integer>0</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>0</integer>
					<integer>41400</integer>
					<integer>41400</integer>
					<integer>41400</integer>
					<integer>41400</integer>
					<integer>41400</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>tDinner</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>61200</integer>
					<integer>61200</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>70200</integer>
					<integer>70200</integer>
					<integer>70200</integer>
					<integer>70200</integer>
					<integer>70200</integer>
					<integer>70200</integer>
					<integer>70200</integer>
				</array>
			</dict>
			<key>tSuperSnax</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>79200</integer>
					<integer>79200</integer>
					<integer>79200</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>90000</integer>
					<integer>90000</integer>
					<integer>90000</integer>
				</array>
			</dict>
		</dict>
		<key>SmithUnion</key>
		<dict>
			<key>cafeMorning</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>39600</integer>
					<integer>27000</integer>
					<integer>27000</integer>
					<integer>27000</integer>
					<integer>27000</integer>
					<integer>27000</integer>
					<integer>39600</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>57600</integer>
					<integer>59400</integer>
					<integer>59400</integer>
					<integer>59400</integer>
					<integer>59400</integer>
					<integer>59400</integer>
					<integer>57600</integer>
				</array>
			</dict>
			<key>cafeNight</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>72000</integer>
					<integer>72000</integer>
					<integer>72000</integer>
					<integer>72000</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>86400</integer>
					<integer>86400</integer>
					<integer>86400</integer>
					<integer>86400</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>theGrill</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>66600</integer>
					<integer>41400</integer>
					<integer>41400</integer>
					<integer>41400</integer>
					<integer>41400</integer>
					<integer>41400</integer>
					<integer>64800</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>86400</integer>
					<integer>86400</integer>
					<integer>86400</integer>
					<integer>86400</integer>
					<integer>90000</integer>
					<integer>90000</integer>
					<integer>86400</integer>
				</array>
			</dict>
			<key>thePub</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>73800</integer>
					<integer>64800</integer>
					<integer>64800</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>90000</integer>
					<integer>79200</integer>
					<integer>79200</integer>
				</array>
			</dict>
			<key>theCStore</key>
			<dict>
				<key>Open</key>
				<array>
					<integer>39600</integer>
					<integer>32400</integer>
					<integer>32400</integer>
					<integer>32400</integer>
					<integer>32400</integer>
					<integer>32400</integer>
					<integer>39600</integer>
				</array>
				<key>Close</key>
				<array>
					<integer>86400</integer>
					<integer>86400</integer>
					<integer>86400</integer>
					<integer>86400</integer>
					<integer>86400</integer>
					<integer>86400</integer>
					<integer>86400</integer>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
